#divCabecera {
    /*position: fixed;*/
    text-align: center;
   
    width: 80%;
    /*z-index: 1000;*/ 
   /* box-shadow: 0 0 0 10px rgb(0, 255, 191);*/ 
}
#divLogo{
    text-align: center;
    width: 10%;
    margin:1%;
    
}
#divLogo img{
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
   /* border-radius: 50%; /* Hace que la imagen sea circular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar efecto de profundidad */
}
header{
  background-color:antiquewhite; /* Fondo beige claro */
  margin: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar efecto de profundidad */
}
body {
  background-color: #ADD8E6; /* Código hexadecimal para un color celeste claro */
}
nav{
    /* width: 10%;*/
     background-color: darkslategrey;
     text-align: center;
    /* height: 400px; /* Añadir esta línea para un alto fijo */
     margin: 1%;
   }
   footer{
    background-color: #90EE90; /* Fondo verde claro */
    color: black; /* Color del texto */
  }   
/* Estilos para la alerta */
#divAlerta {
    position: fixed; /* Para que se sobreponga a otros elementos */
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
    width: 60vw; /* 60% del ancho de la ventana */
    background-color: #FF69B4; /* Fondo rosa */
    /*border: 5px solid red; /* Bordes rojos */
    /*padding: 20px;*/
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar efecto de sobreposición */
    z-index: 9999; /* Para asegurar que esté al frente */
  }
  #divExito{
    position: fixed; /* Para que se sobreponga a otros elementos */
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
    width: 60vw; /* 60% del ancho de la ventana */
    background-color: #90EE90; /* Fondo verde claro */
    
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar efecto de sobreposición */
    z-index: 9999; /* Para asegurar que esté al frente */
  }
/* Estilo para el mensaje dentro de la alerta */
#divAlerta p {
    color: white;
    font-size: 1.5em;
    margin: 0;
  }
  #divExito p{
    color: white;
    font-size: 1.5em;
    margin: 0;
}
#divSecundario{
    /*position: fixed;*/
    text-align: center;
   /* background-color:antiquewhite;*/
    width: 85%;
    margin: 1%;
    height: auto; /* Ajusta según el tamaño de la ventana */
    /*z-index: 1000;*/ 
    /*box-shadow: 0 0 0 10px rgb(0, 255, 191);*/ 
}  