.contenedorGrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);/*genera 6 columnas*/
    grid-auto-rows: min-content;/* genera filas automáticas según el contenido */
    gap: 0,5rem;/* espacio entre filas y columnas */
}
.grid12-1-1{
    grid-column: span 12 / span 12;/* ocupa 12 columnas */
    grid-column-start: 1;/* inicia en la columna 1*/
    grid-row-start: 1;/* inicia en la fila 1 */
}
.grid2-1-2{
    grid-column: span 2 / span 2;/* ocupa 2 columnas */
    grid-column-start: 1;/* inicia en la columna 1*/
    grid-row-start: 2;/* inicia en la fila 2 */
}
.grid12-1-3{
    grid-column: span 12 / span 12;/* ocupa 12 columnas */
    grid-column-start: 1;/* inicia en la columna 1*/
    grid-row-start: 3;/* inicia en la fila 3 */
}

.grid10-3-2{
    grid-column: span 10 / span 10;/* ocupa 4 columnas */
    grid-column-start: 3;/* inicia en la columna 3*/
    grid-row-start: 2;/* inicia en la fila 2 */
}
.grid5-4-1{
    grid-column: span 5 / span 5;/* ocupa 4 columnas */
    grid-column-start: 4;/* inicia en la columna 4*/
    grid-row-start: 1/* inicia en la fila 1 */
}
.grid5-4-2{
    grid-column: span 5 / span 5;/* ocupa 4 columnas */
    grid-column-start: 4;/* inicia en la columna 4*/
    grid-row-start: 2/* inicia en la fila 2 */
}
.grid5-4-3{
    grid-column: span 5 / span 5;/* ocupa 4 columnas */
    grid-column-start: 4;/* inicia en la columna 4*/
    grid-row-start: 3/* inicia en la fila 3 */
}
.grid5-4-4{
    grid-column: span 5 / span 5;/* ocupa 4 columnas */
    grid-column-start: 4;/* inicia en la columna 4*/
    grid-row-start: 4/* inicia en la fila 4 */
}

   
    
