html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
        link(rel="stylesheet", href="estilo.css")
        script(src="domFunsiones.js",defer)
        block script1
        block script2
        block script3
        block script4
        block script5
        title Integrador Laboratorio-2
    body
        #divPrincipal
                            
            #divCabecera
                h1= encabezado
            #divLogo
                img(src="./icons8-medicina-100.png", alt="Logo")
            #divLateral
                block boton1 
                br 
                block boton2
                br
                button(type="button") Adorno 
                br
                button(type="button") Adorno 
                br
                button(type="button") Adorno 
                br
                button(type="button") Adorno 
            #divAlerta
            #divExito         
            #divSecundario
                block content
        
        
    
       
            