html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./Iconos/icono.png", type="image/x-icon")
        link(rel="stylesheet", href="./estilos/estilo.css")
        link(rel="stylesheet", href="./estilos/grid.css")
        link(rel="stylesheet", href="./estilos/flex.css")
        link(rel="stylesheet", href="./estilos/estiloLayaut.css")
        link(rel="stylesheet", href="./estilos/responsive.css")
        script(src="domFunsiones.js",defer)
        block script1
        block script2
        block script3
        block script4
        block script5
        title Integrador Laboratorio-2
    body.contenedorGrid
            header.grid12-1-1 
                .flex               
                    #divCabecera
                        h1= encabezado
                    #divLogo
                        img#logo(src="./Iconos/icons8-medicina-100.png", alt="Logo")
                        button#botonMenu.boton2.ocultar3(type="button" onclick="mostrarMenu()") 
                            img(src="./Iconos/menu.svg", alt="Menu")   
            nav#divLateral.grid2-1-2.gridT12-1-2
                block boton1 
                br 
                block boton2
                br
                button(type="button") En Reparacion 
                br
                button(type="button") En Reparacion 
                br
                button(type="button") En Reparacion 
                br
                button(type="button") En Reparacion 
            #divAlerta
            #divExito         
            main.grid10-3-2.gridT12-1-3.contenedorGrid
                block content
            footer.grid12-1-3.gridT12-1-4 
                h4 Crado por Rubira Alejandro 
        
    
       
            