extends layout
block script1 
    script(src="domPrincipal.js", defer)
block content 
       
        form#formularioLogin.form(action="/verificarLogin", method="POST", autocomplete="off")
            label(for="usuario") Usuario:
            input.limpiar(type="text", id="usuario",name="usuario",placeholder="usuario",autocomplete="off")
            br
            label(for="clave1") Clave:
            input.limpiar.inputPassword(type="password", id="clave1", name="clave1",placeholder="clave",autocomplete="off")
            button.botonPassword(type="button", onclick="mostrarPassword()")
                img(src="./icons8-mostrar-contraseña-50.png", alt="Mostrar/Ocultar")
            br
            input.boton(type="submit", value="Ingresar")
        button.boton2(onclick="mostrarModificarClave()") Modificar Clave
        br
        form#formularioModificarLogin.ocultar.form(action="/modificarLogin", method="POST", autocomplete="off")
            label(for="usuario2") Usuario:
            input.limpiar(type="text", id="usuario2",name="usuario2",placeholder="usuario",autocomplete="off")
            br
            label(for="clave2") Clave:
            input.limpiar.inputPassword(type="password", id="clave2", name="clave2",placeholder="clave",autocomplete="off")
            button.botonPassword(type="button", onclick="mostrarPassword()")
                img(src="./icons8-mostrar-contraseña-50.png", alt="Mostrar/Ocultar")
            br
            label(for="clave3") Clave Nueva:
            input.limpiar.inputPassword(type="password", id="clave3",name="clave3",placeholder="clave nueva",autocomplete="off")
            button.botonPassword(type="button", onclick="mostrarPassword()")
                img(src="./icons8-mostrar-contraseña-50.png", alt="Mostrar/Ocultar")
            br
            label(for="clave4") Clave Nueva:
            input.limpiar.inputPassword(type="password", id="clave4", name="clave4",placeholder="repita clave",autocomplete="off")
            button.botonPassword(type="button", onclick="mostrarPassword()")
                img(src="./icons8-mostrar-contraseña-50.png", alt="Mostrar/Ocultar")
            br
            input.boton(type="submit", value="Enviar")
            
        button.boton2(onclick="mostrarRecuperarLogin()") Olvidaste tu Clave?
        form#formularioRecuperarLogin.ocultar.form(action="/recuperarLogin", method="POST", autocomplete="off")
            p Para generar una clave nueva debe usar su usuario y enviar la solicitud de clave, la cual se mostraraen su mail 
            br
            label(for="usuario5") Usuario:
            input.limpiar(type="text", id="usuario5",name="usuario5",placeholder="usuario",autocomplete="off")
            br
            button.boton(onclick="enviarMail(event)") solicitar clave
            br
            label(for="palabraClave")  Clave en mail:
            input.limpiar(type="text", id="palabraClave", name="palabraClave",placeholder="palabra clave",autocomplete="off")
            br
            label(for="clave6") Clave Nueva:
            input.limpiar.inputPassword(type="password", id="clave6",name="clave6",placeholder="clave nueva",autocomplete="off")
            button.botonPassword(type="button", onclick="mostrarPassword()")
                img(src="./icons8-mostrar-contraseña-50.png", alt="Mostrar/Ocultar")
            br
            label(for="clave7") Clave Nueva:
            input.limpiar.inputPassword(type="password", id="clave7",placeholder="repita clave",autocomplete="off")
            button.botonPassword(type="button", onclick="mostrarPassword()")
                img(src="./icons8-mostrar-contraseña-50.png", alt="Mostrar/Ocultar")
            br
            input.boton(type="submit", value="Generar Clave")  
        script.
                     const parametros = !{JSON.stringify(parametros)};      
                                                                                                                             
                                                                                                                                  
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
                                                                                                                                    
    
    
             

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                                                                                    


            

             
