extends layout
block script1 
    script(src="donSecundario.js",defer)    
block content 
            select(id="slctCrudProfesion", name="slctCrudProfesion")
                        option(value="") Elija una opcion
                        option(value="crearProfesion") Inscribir Profesion
                        option(value="buscarProfesiones") Ver todos las Profesiones 
            #divCrearProfesion.ocultar 
                label(for="inputNombreProfesion") Nombre Profesion 
                input.limpiar(type="text",id="inputNombreProfesion",name="inputNombreProfesion",placeHolder="Nombre Profesion") 
                br
                button.boton(type="button",onclick='crearProfesion()') Crear 
            script.
                     const parametros = !{JSON.stringify(parametros)};               
                            