extends layout
block script1 
    script(src="domSecundario.js",defer) 
block script2 
    script(src="domSecundarioProfesion.js",defer)    
block script3 
    script(src="domSecundarioProfesional.js",defer)        
block content
            #divProfesionalAcceso.grid12-1-1 
                                h3 PROFESIONAL
                                        label=`${profesional.nombrePersona}  ${profesional.apellidoPersona}` 
            select.grid5-4-2(id="slctCrudProfesion", name="slctCrudProfesion")
                        option(value="") Elija una opcion
                        option(value="crearProfesion") Inscribir Profesion
                        option(value="buscarProfesiones") Ver todas las Profesiones 
                        option(value="crearProfesional") Crear Profesional 
                        option(value="buscarProfesionales") Ver Todos Los Profesionales
                        option(value="verDenuncias") Ver Denuncias
            #divCrearProfesion.ocultar.form.crear.grid5-4-3.gridL12-1-3
                button.botonCerrar(type="button",onclick='ocultarElemento(divCrearProfesion)')  
                label(for="inputNombreProfesion") Nombre Profesion 
                input.limpiar(type="text",id="inputNombreProfesion",name="inputNombreProfesion",placeHolder="Nombre Profesion") 
                br
                button.boton(type="button",onclick='crearProfesion()') Crear 
            script.
                     const parametros = !{JSON.stringify(parametros)}; 
                     const profesionalDePagina = !{JSON.stringify(profesional)};
            #divMostrarProfesiones.ocultar.grid12-1-3
                    button.botonCerrar(type="button",onclick='ocultarElemento(divMostrarProfesiones)')
                    table#todasProfesiones.ajuste
                        thead#cabeceraProfesion
                            tr
                                th Id Profesion
                                th Nombre Profesion
                                th Estado Actual Profesion
                                th Seleccionar
                        tbody#cuerpoProfesion 
            #divModificarProfesion.ocultar2.grid12-1-3 
                    button.botonCerrar(type="button",onclick='ocultarElemento(divModificarProfesion)')
                    table#profesion
                        thead#cabeceraProfesion
                            tr
                                th Id Profesion
                                th Nombre Profesion
                                th Estado Actual Profesion
                        tbody#cuerpoProfesion2  
                    select(id="slctModificarProfesion", name="slctModificarProfesion")
                        option(value="") Elija una opcion
                        option(value="modificarNombre") Modificar Nombre 
                        option(value="modificarEstado") Modificar Estado    
            #divModificarNombreProfesion.ocultar.form.crear.grid5-4-4.gridL12-1-4 
                        button.botonCerrar(type="button",onclick='ocultarElemento(divModificarNombreProfesion)')
                        label(for="inputNuevoNombreProfesion") Nuevo Nombre Profesion 
                        input.limpiar(type="text",id="inputNuevoNombreProfesion",name="inputNuevoNombreProfesion",placeHolder="Nombre Profesion") 
                        br
                        button.boton(type="button",onclick='modificarNombreProfesion()') Modificar                                                
            #divCrearProfesional.ocultar.crear.form.grid5-4-3.gridL12-1-4
                        button.botonCerrar(type="button",onclick='ocultarElemento(divCrearProfesional)')
                        br
                        label(for="dniPersona") DNI del Profesional:
                        input#dniPersona.limpiar(name="dniPersona",type="number")    
                        br
                        label(for="nombrePersona") Nombre del Profesional: 
                        input.limpiar(type="text", id="nombrePersona" ,name="nombrePersona")
                        br
                        label(for="apellidoPersona") Apellido  del Profesional:
                        input.limpiar(type="text", id="apellidoPersona", name="apellidoPersona")
                        br
                        label(for="profesionProfecional") Profesion del Profesional: 
                        input.limpiar(type="text", id="profesionProfesional" ,name="profesionProfesional",list="dtlProfesionProfesional", autocomplete="off")
                        datalist#dtlProfesionProfesional
                        br
                        label(for="eMail") E_mail del Profesional: 
                        input.limpiar(type="e_mail", id="eMail" ,name="eMail", autocomplete="off")
                        br

                        button.boton(type="button",onclick='crearProfesional()') Crear 
            
            #divMostrarProfesionales.ocultar.grid12-1-3
                    button.botonCerrar(type="button",onclick='ocultarElemento(divMostrarProfesionales)')
                    br
                    #divBuscadorApellido.form
                        label(for="inputBuscarApellidoPersona") Buscar Por Apellido:
                        input.limpiar(type="text", id="inputBuscarApellidoPersona", name="inputBuscarApellidoPersona",placeHolder="Apellido") 
                        img(id="imgLupa",src="./Iconos/lupa.svg", alt="Lupa")
                    #divFiltrarPorProfesion.form    
                        label(for="filtrarPorProfesion") Filtrar Por Profesion:
                        input.limpiar(type="text", id="filtrarPorProfesion", name="filtrarPorProfesion",list="dtlProfesionFiltrar", autocomplete="off")
                        img(id="imgFiltro",src="./Iconos/filtro.svg", alt="Filtro")
                        datalist#dtlProfesionFiltrar
                    p#mensageNoEncontradoApellido.ocultar No se encontraron resulados para su busqueda    
                    br
                    table#todosMedicos
                        thead#cabecera
                            tr
                                th Id Persona
                                th Id Profesional
                                th Dni
                                th Apellido 
                                th Nombre 
                                th Id Profesion
                                th Profesion 
                                th E_Mail
                                th Estado Actual Persona
                                th Estado Actual Profesional
                                th Seleccionar
                        tbody#cuerpo 
            #divMostrarDenuncias.ocultar.grid12-1-3
                     button.botonCerrar(type="button",onclick='ocultarElemento(divMostrarDenuncias)') 
                     table#tblDenuncia
                        thead#cabeceraD
                            tr
                                th Id Denuncia
                                th Id Imagen Denunciada
                                th Id Perfil Denunciante
                                th Id Perfil Denunciado
                                th Activo Denuncia
                                th Fecha  denuncia
                                th Motivo Denuncia
                                th Seleccionar
                        tbody#cuerpoD   
            #divModificarProfesional.ocultar2.grid12-1-3  
                    button.botonCerrar(type="button",onclick='ocultarElemento(divModificarProfesional)')
                    table#medico
                        thead#cabecera2
                            tr
                                th Id Persona
                                th Id Profesional
                                th Dni
                                th Apellido 
                                th Nombre 
                                th Id Profesion
                                th Profesion 
                                th E_Mail
                                th Estado Actual Persona
                                th Estado Actual Profesional
                        tbody#cuerpo2  
                    select(id="slctModificarProfesional", name="slctModificarProfesional")
                        option(value="") Elija una opcion
                        option(value="crearLogin") Crear Login
                        option(value="modificarEstadoProfesional") Modificar Estado Profesional
                        option(value="modificarEstadoPersona") Modificar Estado Persona
                        option(value="modificarProfesion") Modificar Profesion
                        option(value="modificarEMail") Modificar E_Mail
                        option(value="modificarNombrePersona") Modificar Nombre Persona
                        option(value="modificarApellidoPersona") Modificar Apellido Persona
                        option(value="modificarDniPersona") Modificar Dni Persona
                        
            #divCrearLogin.ocultar.crear.form.grid5-4-4.gridL12-1-4    
                        button.botonCerrar(type="button",onclick='ocultarElemento(divCrearLogin)')           
                        label(for="usuario") Usuario Provisorio 
                        input.limpiar(type="text",id="usuario",name="usuario",placeHolder="maximo 6 caracteres") 
                        img(id="imgUsuario",src="./Iconos/usuario.svg", alt="Usuario")
                        br  
                        label(for="clave") Clave  
                        input.limpiar.inputPassword(type="text",id="clave",name="clave",placeHolder="3letras(minimo 1 may)3numeros")
                        img(id="imgPassword",src="./Iconos/ojo.svg", alt="Mostrar/Ocultar")
                        br
                        label(for="tipoAutorizacion") Nivel de Autorizacion:
                        input.limpiar(type="number", id="tipoAutorizacion", name="tipoAutorizacion",list="dtlTipoAutorizacion", autocomplete="off")
                        img(src="./Iconos/jerarquia.svg", alt="Nivel Autorizacion")                      
                        datalist#dtlTipoAutorizacion 
                            option(value="1") 
                            option(value="2") 
                            option(value="3")
                        br      
                        button.boton(type="button",onclick='crearLogin()') Crear
            #divModificarProfesionProfesional.ocultar.crear.form.grid5-4-4.gridL12-1-4 
                        button.botonCerrar(type="button",onclick='ocultarElemento(divModificarProfesionProfesional)')    
                        label(for="inputNombreProfesionNuevaProfesional") Nombre Profesion 
                        input.limpiar(type="text",id="inputNombreProfesionNuevaProfesional",name="inputNombreProfesionNuevaProfesional",placeHolder="Nombre Profesion ",list="dtlProfesiones", autocomplete="off") 
                        datalist#dtlProfesiones
                        br
                        button.boton(type="button",onclick='modificarProfesionProfesional()') Modificar
                        br
            #divModificarEMailProfesional.ocultar.crear.form.grid5-4-4.gridL12-1-4   
                        button.botonCerrar(type="button",onclick='ocultarElemento(divModificarEMailProfesional)')    
                        label(for="inputNuevoEMailProfesional") E_mail Nuevo del Profecional 
                        input.limpiar(type="e_mail", id="inputNuevoEMailProfesional" ,name="inputNuevoEMailProfesional", autocomplete="off")
                        br
                        button.boton(type="button",onclick='modificarEMailProfesional()') Modificar
            #divModificarNombrePersona.ocultar.crear.form.grid5-4-4.gridL12-1-4 
                        button.botonCerrar(type="button",onclick='ocultarElemento(divModificarNombrePersona)')    
                        label(for="inputNuevoNombrePersona") Nuevo Nombre Persona 
                        input.limpiar(type="text",id="inputNuevoNombrePersona",name="inputNuevoNombrePersona",placeHolder="Nombre Persona") 
                        br
                        button.boton(type="button",onclick='modificarNombrePersona()') Modificar 
            #divModificarApellidoPersona.ocultar.crear.form.grid5-4-4.gridL12-1-4
                        button.botonCerrar(type="button",onclick='ocultarElemento(divModificarApellidoPersona)')     
                        label(for="inputNuevoApellidoPersona") Nuevo Apellido Persona 
                        input.limpiar(type="text",id="inputNuevoApellidoPersona",name="inputNuevoApellidoPersona",placeHolder="Apellido Persona") 
                        br
                        button.boton(type="button",onclick='modificarApellidoPersona()') Modificar 
            #divModificarDniPersona.ocultar.crear.form.grid5-4-4.gridL12-1-4 
                        button.botonCerrar(type="button",onclick='ocultarElemento(divModificarDniPersona)') 
                        label(for="inputNuevoDniPersona") Nuevo Dni Persona 
                        input.limpiar(type="number",id="inputNuevoDniPersona",name="inputNuevoDniPersona",placeHolder="Dni Persona") 
                        br
                        button.boton(type="button",onclick='modificarDniPersona()') Modificar                   
block boton1 
        button.boton2(type="button",onclick='volver()') volver  
block boton2 
        button.boton2(onclick="cerrarSesion()") Cerrar Sesión                                                                                          