extends layout
block script1 
    script(src="domPrincipalGeneral.js",defer)        
block content
                        
block boton1 
        button.boton2(type="button",onclick='ingresarRutaPrincipal()') Ingresar 
block boton2 
        button.boton2(onclick="cerrarSesion()") Cerrar Sesión 
block boton3
        button.boton2(onclick="ingresarRegistro()") Registrarse         