extends layout
block script1 
    script(src="domPersonal.js", defer)
block content 
            #divProfesionalAcceso.grid12-1-1 
                                h3 USUARIO
                                        label=`${perfil.nombrePersona}  ${perfil.apellidoPersona}` 